@import "tailwindcss";

body {
  background-image: url("./assets/bg.jpg");
  background-size: contain;
  background-position: center;
  position: relative;
  font-family: var(--font-pixel);
}

@font-face {
  font-family: "Retrograde-Regular";
  src: url("./assets/Retrograde-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

@theme {
  --font-pixel: "Retrograde-Regular", cursive;
  --color-sky: #f0f9ff;
}

